* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
.header,
.hero,
.program,
.footer {
  border: 1px solid #31353D;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color:#31353D;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.logo strong {
  margin-left: 5px;
  color: #fff;
  font-size: 3rem;
}
.logo img {
  border-radius: 50px;
}
.nav-menu {
  display: flex;
  list-style: none;
}
.nav-menu-item {
  margin: 10px;
}
.nav-menu-item a {
  font-weight: 700;
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
}
.nav-menu-item a:hover {
  color: #CFD8DC;
}
.nav-menu-item a::after {
  content: " | ";
}
.hero {
  height: 400px;
  background-image: url(../imgs/hero.jpg);
  background-size: 100% 400px;
  background-repeat: no-repeat;
}
.hero h1 {
  color: black;
  margin-top: 30px;
  font-size: 5rem;
  text-align: center;
}
.hero p {
  font-size: 3rem;
  font-style: italic;
  text-align: center;
  font-weight: bold;
  margin-top: 7px;
}
.main {
  background-color:#CFD8DC;
}
h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  color: #31353D;
  font-size: 3rem;
}
.contact-network p {
  margin: 20px 40px;
  font-size: 2rem;
}
.contact-network a {
  text-decoration: none;
  color: blue;
}
h3 {
  margin-top: 40px;
  text-align: center;
  color: #31353D;
  font-size: 2.5rem;
}
.container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 100%;
}
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 80%;
  height: 80%;
  border: none;
  margin: auto;
}
.footer {
  background-color: #31353D;
  color: #fff;
  height: 130px;
  padding: 10px;
  text-align: center;
}
.footer p {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer a {
  margin-left: 20px;
}
@media (min-width: 800px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-program-menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}