* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  background-color:  #CFD8DC;
}
.header,
.hero,
.program,
.footer {
  border: 1px solid #31353D;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color:#31353D;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.logo strong {
  margin-left: 5px;
  color: #fff;
  font-size: 3rem;
}
.logo img {
  border-radius: 50px;
}
.nav-menu {
  display: flex;
  list-style: none;
}
.nav-menu-item {
  margin: 10px;
}
.nav-menu-item a {
  font-weight: 700;
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
}
.nav-menu-item a:hover {
  color: #CFD8DC;
}
.nav-menu-item a::after {
  content: " | ";
}
.hero {
  height: 400px;
  background-image: url(../imgs/hero.jpg);
  background-size: 100% 400px;
  background-repeat: no-repeat;
}
.hero h1 {
  color: black;
  margin-top: 30px;
  font-size: 5rem;
  text-align: center;
}
.hero p {
  font-size: 3rem;
  font-style: italic;
  text-align: center;
  font-weight: bold;
  margin-top: 7px;
}
.register fieldset, legend {
  margin: 30px;
  margin-bottom: 10px;
}
.register fieldset {
  background-color:  #a9b0b3;
}
.register legend {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
}
.register label {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.register span {
  font-weight: 300;
  font-size: 2rem;
}
.register input {
  height: 30px;
}
.register .buttonr {
  margin: 20px 15%;
  width: 150px;
  height: 40px;
  border-radius: 10px;
}
.image-register img {
  width: 100%;
  height: 400px;
}
.footer {
  background-color: #31353D;
  color: #fff;
  height: 130px;
  padding: 10px;
  text-align: center;
}
.footer p {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 800px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-program-menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .main {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
  }
  .main img {
    width: 80%;
    height: 100%;
    position: relative;
  }
  .register {
    margin-right: 60px;
  }
  .register fieldset, legend {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 300px;
  }
}